<!-- about.component.html -->
<div class="container-fluid">
  <div id="typing-container">
    Great Place to Work
  </div>    
    <p id="hireteam2">Here's a glimpse of how life at Infilemon feels and looks like.</p>
    <p id="hireteam">Apply Now</p>   
</div>
<div id="first">
  <div class="container py-5">
    <!-- First Section -->
    <div class="row align-items-center image-text-container">
      <div class="col-md-6 text-container">
        <h2>About Infilemon Technologies</h2>
        <p>As an IT company with over 2 years of experience and a multi talented web & Software development team, we can offer Website and Software Developement Services, Product Engineering, Mobile App Developement, SEO, Artificial Intelligence, IoT, ChatBot Solutions across the globe.</p>
        <p><b>Infilemon Technologies Pvt. Ltd.</b> is administered by experts, who have sound understanding in the technologies field. The perfect quality of the developer described in a few assets like creative imagination, value of customer, Knowledge of current trends, rich features, scalability ,comparability, usability On time.</p>
        
      </div>
      <div class="col-md-6">
        <img src="https://i.postimg.cc/kgqnp51m/Infilemon-Logo-With-Text-svg.png" alt="Why choose Infilemon image">
      </div>
      <div class="col-md-12 text-container">
        <p>
          Infilemon has built websites and mobile apps for clients in Web Development Company in Pune, India, and across the world. Not all web pages created are equal, We transform your idea into creative web designing & web development in a way that it looks Good. Our team of experts leads you in every step of the way, from business model to implementation with a smooth transition. We have made interesting footprints in the IT industry with tremendous and strong client referrals. We provide your business with a wide range of services including UI/UX, Web development, Custom software development, Android and iOS Mobile application development, Internet of Things (IoT), DevOps, Chatbot Development, End to End Product development, E-commerce solutions, and much more to enhance organizational functioning and extend the power to harness identity and management of your Business.
        </p>
      </div>
    </div>

    <!-- Second Section -->
  </div>
</div>

<div id="second">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12  text-white p-3 text-center">
        <span>Our Mission</span>
        <p>Our mission is to empower individuals and organizations to achieve their full potential through innovative software solutions. We strive to develop cutting-edge technology that is user-friendly, reliable, and secure.</p>
      </div>
      <div class="col-md-6 col-12 text-white p-3 text-center">
        <span>Our Goal</span>
        <p>Our goal is to provide exceptional value to our clients by delivering customizable and scalable software solutions that optimize their operations and enhance their competitiveness.</p>
      </div>
    </div>
  </div>
</div>

<div id="first">
  <div class="container py-5">
    <!-- First Section -->
    <div class="row align-items-center image-text-container">
      <div class="col-md-6">
        <img src="https://i.ibb.co/Wn7J2xn/infi-removebg-preview-1.png" alt="Why choose Infilemon image">
      </div>
      <div class="col-md-6 text-container">
        <h2>Why choose Infilemon?</h2>
        <p>We are one of the pioneering professional IT companies located in Pune, India. We believe in the success of any project through knowledge of the latest technologies, expert management, effective communication, and full-cycle quality assurance.</p>
        <p>The significance of integrating the latest technology development platform with an attractive usable design and navigation puts Infilemon Technologies Pvt Ltd apart from a regular IT company in India.</p>
        <p>Infilemon combines skill, knowledge, and talent to produce cutting-edge customized solutions suitable for startups and scaling up to complex solutions.</p>
      </div>
    </div>

    <!-- Second Section -->
  </div>
</div>