 /* Custom Styling */
 .navbar {
  background-color: transparent;
  filter: drop-shadow(4px 5px 4px #00000059);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.4s ease;
}

.navbar.scrolled {
  background-color: #312d2bea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.navbar-brand {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.navbar-brand img {
  height: 55px;
  filter: drop-shadow(4px 5px 4px #00000059);
}

a.nav-link {
  color: rgb(247, 247, 247);
  font-weight: bold;
  filter: drop-shadow(1px 3px 4px #00000065);
  font-size: 20px;
 
}

a.nav-link:hover {
  color: #e25c2c;
}

.navbar-nav {
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 20px;
}


#hireteam{
  background-color: #ffff;
  border: none;
  color: #e25c2c;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  filter: drop-shadow(4px 5px 4px #00000059);
}

#hireteam:hover{
  background-color: #e25c2c;
  color: white;
}