@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
      background-color: #f0f0f0;
  }
  .container-fluid{
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      text-align: center;
      margin: 0;
      margin-top: -2vh;
    }
    #typing-container {
      font-size: 1.9em;
      font-family: Arial, sans-serif;
      white-space: pre-wrap;
      width: 100%;
      height: fit-content;
      color: white;
      font-weight: bolder;
      text-wrap: wrap;
      filter: drop-shadow(4px 5px 4px #00000059);
      text-align: center;
      background: transparent;
    }
    #hireteam{
      border: none;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 5px;
      filter: drop-shadow(4px 5px 4px #00000059);
      cursor: pointer;
      font-weight: bold;
      background-color: #e25c2c;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      font-size: 1.2em;
    }
    .services{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;
      padding: 20px;
      background-color: white;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.039) 0px 14px 28px, rgba(0, 0, 0, 0.039) 0px 10px 10px;
      z-index: 10;
      position: relative;
    }
  
    .services img{
      height: 25px;
      opacity: 0.6;
      filter: drop-shadow(4px 5px 4px #00000059);
    }

  /* Add other styles specific to small screens */
}

/* Medium screens: Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
      font-size: 16px;
      background-color: #e0e0e0;
  }
  .container-fluid{
      height: 50vh;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      margin: 0;
      margin-top: -2vh;

    }
    #typing-container {
      font-size: 24px;
      font-family: Arial, sans-serif;
      white-space: pre-wrap;
      width: 500px;
      color: white;
      font-weight: bolder;

      font-size: 2.0rem;
      filter: drop-shadow(4px 5px 4px #00000059);
      text-align: center;
      background: transparent;
    }
    #hireteam{
      border: none;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 5px;
      filter: drop-shadow(4px 5px 4px #00000059);
      cursor: pointer;
      font-weight: bold;
      background-color: #e25c2c;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      font-size: 1.2em;
    }
    .services{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      padding: 10px;
      background-color: white;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.039) 0px 14px 28px, rgba(0, 0, 0, 0.039) 0px 10px 10px;
      z-index: 10;
      position: relative;
    }
  
    .services img{
      height: 30px;
      opacity: 0.6;
      filter: drop-shadow(4px 5px 4px #00000059);
    }

  /* Add other styles specific to medium screens */
}

/* Large screens: Laptops and Desktops */
@media only screen and (min-width: 1025px) {
  body {
      font-size: 18px;
      background-color: #d0d0d0;
  }
  .container-fluid{
      height: 81vh;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      margin: 0;
      margin-top: -2vh;
    }
    #typing-container {
      font-size: 24px;
      font-family: Arial, sans-serif;
      white-space: pre-wrap;
      width: 800px;
      color: white;
      font-weight: bolder;
      font-size: 4rem;
      filter: drop-shadow(4px 5px 4px #00000059);
      text-align: center;
      background: transparent;
    }
    #hireteam{
      border: none;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 5px;
      filter: drop-shadow(4px 5px 4px #00000059);
      cursor: pointer;
      background-color: #e25c2c;
      font-weight: bold;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      font-size: 1.2em;
    }
    .services{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 40px;
      padding: 20px;
      background-color: white;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.039) 0px 14px 28px, rgba(0, 0, 0, 0.039) 0px 10px 10px;
      z-index: 10;
      position: relative;
    }
  
    .services img{
      height: 45px;
      opacity: 0.6;
      filter: drop-shadow(4px 5px 4px #00000059);
    }
   
  /* Add other styles specific to large screens */
}



  #hireteam:hover{
    background-color: rgb(148, 78, 46);
    color: white;
  }

  

  @keyframes blink {
    0%, 50% {
      border-color:white;
    }
    50.1%, 100% {
      border-color: transparent;
    }
  }
  #itservices{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: top;
    background-color: #f5f5f5;
    width: 100%;
    margin-top: -45px;
    padding-top: 100px;
    gap: 30px;
    text-align: center;
    padding-bottom: 40px;
  }

  #itservices >h5{
    font-size: 1em;
    font-weight: bold;
    color: #b8b8b8;
  }

  #itservices >h3{
    font-size: 2.1em;
    font-weight: bolder;
  }

  #cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    height: 100%;
  }

  #cards .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    transition: all 0.3s ease-in-out;
    height: 100%;
    cursor: pointer;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: larger;
  }

  .card-link{
    color: black;
    text-decoration: none;
  }

  .card:hover{
    background-color: #e25c2c;
    color: white;
  }

  .card:hover > .card-body >a{
    color: white;
  }

  #itservices >span{
    font-size: 1.1em;
    color: #3d3c3c;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
  }

  
.hiring-banner {
    position: relative;
    width: 100%;
    background-color: transparent; 
    color: #eeeeee; 
    text-align: center;
    padding: 40px 20px; 
    overflow: hidden;
    font-size: 20px;
    z-index: 1;
    height: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7); /* Stronger shadow */
  }
  
  .hiring-banner strong {
    color: rgb(240, 240, 240); /* Highlight text with a vibrant color */
  }
  
  .hiring-banner a {
    color: #e25c2c; /* Golden color for the link */
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .hiring-banner a:hover {
    color: #ff4500; /* Change link color on hover */
    text-decoration: underline;
  }

  .left-border {
    border-left: 3px solid #003366; /* Customize color */
    padding-left: 15px;
  }
  .section-heading {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .highlight {
    font-weight: bold;
  }

  #abtcomp {
    background-color: #f5f5f5;
    padding-top: 50px;
    font-size: 21px;
  }
  
  .shape {
    position: absolute;
    top: -50px;
    left: -100px;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #00d1b2, #007f70);
    border-radius: 50%;
    opacity: 0.9;
    z-index: 0;
  }
  
  .shape-bottom {
    position: absolute;
    bottom: -50px;
    right: -100px;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #ffd900, #ff4500);
    border-radius: 50%;
    opacity: 0.9;
    z-index: 0;
  }
  

  .hiring-banner p {
    position: relative;
    margin: 0;
    z-index: 1;
  }

  #compDesc{
    margin-top: 30px;
    text-align: left;
    font-size: large;
  }

  #compDesc > .col-md-4{
    font-size: larger;
    font-weight: bolder;
  }

  #compDesc > .col-md-7{
    font-size: larger;
  }

  #desctext{
    font-size: larger;
    text-align: left;
  }

  .card-img-top
  {
    height: 100%;
    width: 100%;
    align-self: center;
  }

.custom-div {
  background-color: #f8f9fa; /* Light grey background */
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
}
.custom-text {
  font-size: 1.5rem; /* Default size for large screens */
}
@media (max-width: 992px) {
  .custom-text {
    font-size: 1.25rem; /* Adjust font size for medium screens */
  }
}
@media (max-width: 768px) {
  .custom-text {
    font-size: 1rem; /* Adjust font size for small screens */
  }
}

  #compnums{
   background-color: #f5f5f5;
   flex-direction: row;
   padding-top: 50px;
   display: flex;
   align-items: center;
   text-align: center;
   height: 100%;
   font-size: larger;
   justify-content: space-around;
   padding-bottom: 10px;
  }

  .counter {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #3d3c3c; 
    animation: pop 0.5s ease-in-out;
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #blogs h2 {
    font-size: 1em;
    font-weight: bold;
    color: #b8b8b8;
  }

  #blogs h3 {
    font-size: 2.1em;
    font-weight: bolder;
  }

  #blogs #cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  /* Card Customization */
  #blogs .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
  }

  #blogs .card .card-img-top {
    transition: transform 0.3s;
  }

  #blogs .card:hover .card-img-top {
    transform: scale(0.9);
  }

  #blogs .card:hover .card-title {
    color: white;
  }

  #blogs .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  #blogs .card:hover .card-text {
    color: #ffffff;
  }

  #blogs .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

  #blogs .card-text {
    font-size: 1rem;
    color: #666;
  }

  /* Responsive Text Adjustments */
  @media (max-width: 992px) {
    #blogs .card-title {
      font-size: 1.25rem;
    }

    #blogs .card-text {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 768px) {
    #blogs .card-title {
      font-size: 1.1rem;
    }

    #blogs .card-text {
      font-size: 0.85rem;
    }
  }

  #blogs .btn-link {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }

  #blogs .btn-link:hover {
    text-decoration: underline;
  }

#blogs{
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 60px;
}

