#itservices{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: top;
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 100px;
    gap: 30px;
    text-align: center;
    padding-bottom: 40px;
  }

  #itservices >h5{
    font-size: 1em;
    font-weight: bold;
    color: #b8b8b8;
  }

  #itservices >h3{
    font-size: 2.1em;
    font-weight: bolder;
    color: #312d2bea;
  }

  #cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    height: 100%;
  }

  #cards .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    transition: all 0.3s ease-in-out;
    height: 100%;
    cursor: pointer;
    isolation: isolate;
  }

  .card:hover{
    background: #312d2bea;
    background-position: center;
    background-size: cover;
    
    color: white;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: larger;
  }

  .card-link{
    color: black;
    text-decoration: none;
  }

  

  .card:hover > .card-body >a{
    color: white;
  }

  #itservices >span{
    font-size: 1.1em;
    color: #3d3c3c;
    font-weight: 400;
  }