<div *ngIf="!showDivWithService">
<div class="container-fluid">
  <div id="typing-container">
    Top IT Company in <br> Pune
  </div>    
    <p id="hireteam2">Infilemon is a leading IT services company based in Pune, India. The company offers a wide range of services that help businesses to improve their operational efficiency, reduce costs, and drive growth.</p>
    <p id="hireteam" (click)="navigateToContact()">Lets Discuss Your Requirement</p>
</div>

<div id="first">
  <div class="container py-5">
    <!-- First Section -->
    <div class="row  image-text-container">
      <div class="col-md-12 col-xl-6 col-sm-12 text-container mb-5">
        <img src="https://i.postimg.cc/kgqnp51m/Infilemon-Logo-With-Text-svg.png" loading="lazy" alt="Why choose Infilemon image">
      </div>
      <div class="col-md-12 col-xl-6 col-sm-12 text-container mb-5">
        <h2>Why choose Infilemon?</h2>
        <p>We are one of the pioneering professional IT companies located in Pune, India. We believe in the success of any project through knowledge of the latest technologies, expert management, effective communication, and full-cycle quality assurance.</p>
      </div>
      <div class="col-md-12 col-xl-12 col-sm-12 text-container">
        <p>The significance of integrating the latest technology development platform with an attractive usable design and navigation puts Infilemon Technologies Pvt Ltd apart from a regular IT company in India.</p>
        <p>Infilemon combines skill, knowledge, and talent to produce cutting-edge customized solutions suitable for startups and scaling up to complex solutions.</p>
      </div>
    </div>


    <!-- Second Section -->
  </div>
</div>

<div id="second">
  <div class="container services-section">
    <h1 class="services-title">Here are some of the services offered by Infilemon</h1>
    <div class="service-item">
      <h2 class="service-title">Web Development</h2>
      <p>Infilemon offers web development services that help businesses to build scalable, responsive, and user-friendly websites. Their team of experienced developers uses the latest technologies to develop websites that meet the specific needs of their clients.</p>
    </div>
    <div class="service-item">
      <h2 class="service-title">Mobile App Development</h2>
      <p>Infilemon specializes in developing custom mobile applications for both Android and iOS platforms. They use agile development methodologies to deliver mobile apps that are feature-rich, intuitive, and user-friendly.</p>
    </div>
    <div class="service-item">
      <h2 class="service-title">E-Commerce Solutions</h2>
      <p>Infilemon offers end-to-end e-commerce solutions that enable businesses to sell their products and services online. Their solutions include online store development, payment gateway integration, and order management systems.</p>
    </div>
    <div class="service-item">
      <h2 class="service-title">Digital Marketing</h2>
      <p>Infilemon provides digital marketing services that help businesses to improve their online visibility, attract more leads, and increase sales. Their services include search engine optimization (SEO), social media marketing, pay-per-click (PPC) advertising, and email marketing.</p>
    </div>
    <div class="service-item">
      <h2 class="service-title">Software Development</h2>
      <p>Infilemon offers custom software development services that help businesses to automate their processes, improve their efficiency, and reduce costs. They use a variety of technologies and programming languages to develop software that meets the specific needs of their clients.</p>
    </div>
    <div class="service-item">
      <h2 class="service-title">IT Consultancy</h2>
      <p>Infilemon offers IT consultancy services that help businesses to identify their technology needs, assess their existing systems, and develop strategies to achieve their business goals.</p>
    </div>
  </div>

</div>

<div id="third">
  <div class="container py-5">
    <!-- First Section -->
    <div class="row align-items-center image-text-container">
      <div class="col-md-6">
        <img src="https://www.webhopers.com/wp-content/uploads/2022/02/SEO-Services-in-Dehradun.jpg" alt="Why choose Infilemon image">
      </div>
      <div class="col-md-6 text-container">
        <h2>SEO company in Pune.</h2>
        <p>Infilemon is the leading SEO company in Pune. SEO is merely hard work and a great in-depth understanding of Search Engine's algorithm and proven SEO practices that get you the best website rankings. Our team knows this, and we believe in the grounded research of your website.</p>
        <p>With SEO services, we help websites improve the page rank in Search Engine Result Pages (SERPs) based on a well-ven SEO strategy to drive more traffic and generate qualified leads. We also work out valuable SEO strategies that lead to increased conversions and, more importantly, your valuable customers visiting your site.
        </p>
      </div>
    </div>

    <!-- Second Section -->
    <div class="row align-items-center image-text-container">
      <div class="col-md-6 text-container">
        <h2>Looking for Leading IT Company</h2>
        <p>We offer customized software solutions for small-scale to medium-scale industry companies in India.</p>
        <p>Our software applications feature need-based and great-value functionality, helping businesses improve productivity, enhance transparency, and escalate system efficiency. We have the expertise to meet unique business needs.</p>
      </div>
      <div class="col-md-6">
        <img src="https://www.shutterstock.com/shutterstock/videos/1101557179/thumb/9.jpg?ip=x480" alt="Looking for Leading IT Company image">
      </div>
    </div>
  </div>

</div>

</div>

<div *ngIf="showDivWithService">
  <div class="container-fluid">
    <div id="typing-container">
      {{service.head}}
    </div>    
      <p id="hireteam2">Infilemon is a leading IT services company based in Pune, India. The company offers a wide range of services that help businesses to improve their operational efficiency, reduce costs, and drive growth.</p>
      <p id="hireteam" (click)="navigateToContact()">Lets Discuss Your Requirement</p>
  </div>
  
  <!-- <div id="first">
    <div class="container py-5">
 
      <div class="row align-items-center image-text-container">
        <div class="col-md-6">
          <img src="https://i.ibb.co/Wn7J2xn/infi-removebg-preview-1.png" alt="Why choose Infilemon image">
        </div>
        <div class="col-md-6 text-container">
          <h2>Why choose Infilemon?</h2>
          <p>We are one of the pioneering professional IT companies located in Pune, India. We believe in the success of any project through knowledge of the latest technologies, expert management, effective communication, and full-cycle quality assurance.</p>
          <p>The significance of integrating the latest technology development platform with an attractive usable design and navigation puts Infilemon Technologies Pvt Ltd apart from a regular IT company in India.</p>
          <p>Infilemon combines skill, knowledge, and talent to produce cutting-edge customized solutions suitable for startups and scaling up to complex solutions.</p>
        </div>
      </div>
  

    </div>
  </div> -->
  
  <div id="second">
    <div class="container services-section">
      <h1 class="services-title">{{service.head}}</h1><br><br>
      <div class="service-item">
        <div id="">
          <div class="container py-2">
            <!-- First Section -->
            <div class="row align-items-center image-text-container" >
              <div class="col-md-12 col-sm-12 col-xl-6" id="image-text-container">
                <img src="{{service.imeage}}" alt="{{service.head}}" height="500px" width="400px" id="serviceimg">
              </div>
              <div class="col-md-12 col-sm-12 col-xl-6 text-container">
                <h2>{{service.description}}</h2>
                <p>{{service.firstpara}}</p>
                <p>{{service.secondpara}}</p>
              </div>
            </div>
        
            <!-- Second Section -->
          </div>
        </div>
    </div>
  
  </div>
  
  <div id="third">
    <div class="container py-5">
      <div class="container services-section">
        <h1 class="services-title">Here are some of the services offered by Infilemon</h1><br><br>
        <div class="service-item">
          <h2 class="service-title">Web Development</h2>
          <p>Infilemon offers web development services that help businesses to build scalable, responsive, and user-friendly websites. Their team of experienced developers uses the latest technologies to develop websites that meet the specific needs of their clients.</p>
        </div>
        <div class="service-item">
          <h2 class="service-title">Mobile App Development</h2>
          <p>Infilemon specializes in developing custom mobile applications for both Android and iOS platforms. They use agile development methodologies to deliver mobile apps that are feature-rich, intuitive, and user-friendly.</p>
        </div>
        <div class="service-item">
          <h2 class="service-title">E-Commerce Solutions</h2>
          <p>Infilemon offers end-to-end e-commerce solutions that enable businesses to sell their products and services online. Their solutions include online store development, payment gateway integration, and order management systems.</p>
        </div>
        <div class="service-item">
          <h2 class="service-title">Digital Marketing</h2>
          <p>Infilemon provides digital marketing services that help businesses to improve their online visibility, attract more leads, and increase sales. Their services include search engine optimization (SEO), social media marketing, pay-per-click (PPC) advertising, and email marketing.</p>
        </div>
        <div class="service-item">
          <h2 class="service-title">Software Development</h2>
          <p>Infilemon offers custom software development services that help businesses to automate their processes, improve their efficiency, and reduce costs. They use a variety of technologies and programming languages to develop software that meets the specific needs of their clients.</p>
        </div>
        <div class="service-item">
          <h2 class="service-title">IT Consultancy</h2>
          <p>Infilemon offers IT consultancy services that help businesses to identify their technology needs, assess their existing systems, and develop strategies to achieve their business goals.</p>
        </div>
      </div>
  </div>
</div>

<div id="">
  <div class="container py-5">
    <!-- First Section -->
    <div class="row align-items-center image-text-container">
      <div class="col-md-6">

        <h2>Why choose Infilemon?</h2>
        <p>We are one of the pioneering professional IT companies located in Pune, India. We believe in the success of any project through knowledge of the latest technologies, expert management, effective communication, and full-cycle quality assurance.</p>
        <p>The significance of integrating the latest technology development platform with an attractive usable design and navigation puts Infilemon Technologies Pvt Ltd apart from a regular IT company in India.</p>
        <p>Infilemon combines skill, knowledge, and talent to produce cutting-edge customized solutions suitable for startups and scaling up to complex solutions.</p>
      </div>
      <div class="col-md-6 text-container">
        <img src="https://i.ibb.co/Wn7J2xn/infi-removebg-preview-1.png" alt="Why choose Infilemon image">
      </div>
    </div>

    <!-- Second Section -->
  </div>
</div>