body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .parallax {
    /* The image used */
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw3QJKuUG6thDu03aVimbV5A1nXtrXEZ3nUw&s');
    background-repeat: fixed 100%;
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .services {
    padding: 2rem;
  }
  
  .service {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .service:hover {
    transform: scale(1.05);
  }
  
  .about, .contact {
    padding: 2rem;
    background-color: #f9f9f9;
  }

  @media only screen and (min-width: 1025px) {
    .parallax #whatsapp {
      width: 70px;
      height: auto;
      margin-bottom: 2rem;
      position: fixed;
      top: 91%;
      left: 1%;
      z-index: 1000;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .parallax #whatsapp {
      width: 60px;
      height: auto;
      margin-bottom: 2rem;
      position: fixed;
      top: 91%;
      left: 2%;
      z-index: 1000;
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 600px) {
    .parallax #whatsapp {
      width: 40px;
      height: auto;
      margin-bottom: 2rem;
      position: fixed;
      top: 94%;
      left: 2%;
      z-index: 1000;
      cursor: pointer;
    }
  }



  